.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #052c65;
}

.entry{
  margin-top:1em;
  margin-left: 5%;
  margin-right: 5%;
}

.autharea{
  background-color: white;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  padding: 2em;
}


.authform{
  background-color: #9ec5fe;
  margin-top: 2em;
  padding: 1em;
}

.authform input{
  text-align: left;
  background-color: aliceblue;
}

.homepage{
  margin-top: 2em;
}

.hometitle{
  color:white;
  font-weight: 900;
}


.homeuser{
  color:white;
  margin-bottom: 0.5em;
}


.budget{
  background-color: #9ed0fe;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 5px;
}

.createentry{
  background-color:rgb(179, 165, 165);
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.entries{
  /* margin-right: 5%;
  margin-left: 20%; */
  margin-top: 15px;
  margin-bottom: 15px; 
}

.inviteuser{
  background-color:#bbbbbb;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 15px;
  padding: 10px;
}

.budgetcreate{
  background-color:#9ec5fe;
  margin-right: 25%;
  margin-left: 25%;
  padding-top: 1em;
  padding-bottom: 1em;
}